<header>
  {# Header fix top #}
  <div class="header-fix">
    <div class="container">
      <div class="logo">
        <img src="{{ logo }}" alt="logo">
      </div>
      <div class="main-menu">
        {{ drupal_menu('main-menu') }}
      </div>
    </div>
  </div>
  {# Header #}
  <div id="header">
    <div class="container">
      <div class="logo">
        <img src="{{ logo }}" alt="logo">
      </div>
      <div class="main-menu">
        {{ drupal_menu('main-menu') }}
      </div>
    </div>
  </div>
</header>


