.path-games {
  background: var(--main-bg);
}

.path-games .container {
  padding: 50px 0;
}

.view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.view-content .views-row {
  margin-bottom: 30px;
}
